
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER INICIO */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/inicial.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* LOGO INICIO */

.logo {
  color: #FFfDFC;
  font-size: 25px;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #FFfDFC;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #B7975B;
}

#menu {
  display: none;
}

.menu.icono {
  width: 12px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-txt {
  width: 60%;
}

.header-txt h1 {
  font-size: 85px;
  line-height: 110px;
  color: #fefcfb;
  margin-bottom: 15px;
}

.header-txt p {
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 35px;
}

.btn-1 {
  display: inline-block;
  padding: 11px 45px;
  background-color: #B7975B;
  color: #fefcfb;
  border-radius: 25px;
  font-size: 22px;
}

.btn-1:hover {
  background-color: #edc47c;
}

.direction {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

.direction p {
  color: #fefcfb;
  font-size: 16px;
}

.about {
  padding: 100px 0;
  display: flex;
}

.about-txt {
  width: 50%;
}

.about-img {
  width: 50%;
}

.about-img img {
  width: 450px;
}

h2 {
  font-size: 70px;
  color: #fefcfb;
  margin-bottom: 15px;
}

.about-txt p {
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 35px;
}

/* MAIN INICIO */

.information {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.information-1 {
  display: flex;
  align-items: center;
}

.information-1 h3 {
  font-size: 70px;
  color: #fefcfb;
}

.information-1 p {
  font-size: 16px;
  color: #e0e0e0;
  margin-left: 15px;
}

.autos {
  display: flex;
  justify-content: space-between;
}

.auto-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/i2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.auto-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/i3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.auto-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/i4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.auto-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/i5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.auto-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/i6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.txt {
  position: relative;
}

.txt span {
  color: #B7975B;
  font-size: 35px;
}

.txt h3 {
  color: #fefcfb;
  font-size: 35px;
}

.txt p {
  font-size: 16px;
  color: #e0e0e0;
  position: absolute;
  top: 400px;
  left: 0;
  rotate: 270deg;
}

/* footer INICIO */

.footer {
  padding: 100px 0 0 0;
}

.footer-content {
  display: flex;
}

.footer-form {
  width: 50%;
}

.footer-txt {
  width: 50%;
}

form {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin-left: 200px;
}

.campo {
  background-color: #201f23;
  padding: 17px 35px;
  outline: none;
  color: #7E7E7E;
  border: 0;
  margin-bottom: 10px;
}

.campo::placeholder {
  color: #7E7E7E;
}

.btn-2 {
  padding: 17px 35px;
  border: 2px solid #B7975B;
  background-color: #B7975B;
  color: #fefcfb;
  border-radius: 25px;
  text-transform: uppercase;
}

/* FOOTER INICIO */
.footer-txt h3 {
  color: #fefcfb;
  font-size: 35px;
  margin: 0 100px 220px 0;
}

.footer-txt p {
  margin-bottom: 25px;
  font-size: 18px;
  color: #e0e0e0;
}

.footer-2 p {
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
  color: #e0e0e0;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
    font-size: 50px;
    color: #e0e0e0;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #09080d;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header {
    min-height: 0vh;
  }
  .header-content {
    padding: 100px 30px;
  }
  .header-txt {
    width: 100%;
    text-align: center;
  }
  .header-txt h1 {
    font-size: 70px;
    line-height: 80px;
  }
  .direction {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .direction p {
    margin-bottom: 10px;
  }
  .about {
    padding: 0 30px 30px 30px;
    flex-direction: column;
  }
  .about-txt {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .about-img {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .about-img img {
    width: 300px;
  }
  .information {
    padding: 30px;
    flex-direction: column;
    margin-left: 80px;
  }
  .autos {
    flex-direction: column;
  }
  .footer {
    padding: 30px 30px 0 30px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-form {
    width: 100%;
    text-align: center;
  }
  .footer-txt {
    width: 100%;
    text-align: center;
  }
  .footer-txt h3 {
    margin: 0 0 20px 0;
  }
  form {
    width: 100%;
    margin: 0 0 25px 0;
  }
  .footer-2 p {
    text-align: center;
  }
  

}

/* PAGE PLANES */



#html-planes {
  :root {
    --primary-color:#f5f4f2;
    --text-dark:#57534e;
    --text-light:#78716c;
    --white:#ffffff;
    --max-width:1200px;
    --header-font: "Lora", serif;
  }
}

#html-planes{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.section__ container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 1rem;
}

img {
  max-width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

#body-planes {
  font-family: "Popins", sans-serif;
  background-color: white;
}

.nav_planes {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  counter-reset: var(--text-dark);
}

.nav__logo {
  text-align: center;
  cursor: pointer;
}

.nav__logo img {
  margin: auto;
  max-width: 120px;
}


.nav__logo h4 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  letter-spacing: 2px;
  color: var(--text-dark);
}

.nav__logo p {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-light);
}









